## Execute the following command after use the template
```
flutter pub upgrade --major-versions
```

## Information

For information about how to use Riverpod and Riverpod generators
Go to the following link and navigate to te folter named riverpod - generators

</br>

[https://github.com/MCcover/CursoFlutter](https://github.com/MCcover/CursoFlutter